/*** GENERAL STYLES ***/

/* reset css */
* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

/* HEADER */

header {
  height: 20vh;
  background-color: black;
  color: white;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: deeppink;
  margin-left: 10px;
}

/* MAIN */

main {
  height: 70vh;
  background-color: deeppink;
}

.container-custom {
  width: 450px;
}

.square {
  width: calc(100% / 8);
  aspect-ratio: 1/1;
  border: 2px solid deeppink;
  background-color: white;
  cursor: pointer;
}

.square.click {
  background-color: black;
  color: deeppink;
}


/* FOOTER */

footer {
  height: 10vh;
  background-color: black;
  color: white;
}

footer i {
  font-size: 2rem;
  color: deeppink;
}

